body {
  background-color: #6a7687;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 64px;
}

.col-1-1 {
  grid-template-columns: 1fr 1fr;
}

.col-1-1-1 {
  grid-template-columns: 1fr 1fr 1fr;
}

.col-1-1-2 {
  grid-template-columns: 1fr 1fr 2fr;
}

.img-responsive,
.img-responsive-card {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.card {
  margin: 30px 0;
  background: #ffffff;
}

.card-body,
.card-footer {
  padding: 30px;
}

.btn {
  display: block;
  padding: 16px;
  color: #ffffff;
  background: #272044;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

section {
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f8f8f8;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../img/cph-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 200px 0;
}

header h1,
header h2,
h3 {
  font-family: "Lora", serif;
  margin: 0;
}

a,
header h3,
p,
h2,
h4,
h5,
footer,
footer h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.5;
}

header h3 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

header a {
  display: inline-block;
  margin-top: 32px;
  padding: 16px 32px;
  background: #ffffff;
  color: #272044;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  background-color: #ffffff;
}

main h2 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
}

main p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
}

footer {
  color: #ffffff;
  background-image: linear-gradient(
      rgba(106, 118, 135, 0.9),
      rgba(106, 118, 135, 0.9)
    ),
    url("../img/cph-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  margin: 0;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
}

footer p {
  opacity: 0.8;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  main h2,
  main p {
    font-size: 14px;
  }

  main h3 {
    font-size: 24px;
  }

  footer h3 {
    font-weight: normal;
    font-size: 16px;
  }

  footer a,
  footer p {
    font-size: 14px;
  }

  .img-responsive {
    display: none;
  }

  .col-1-1,
  .col-1-1-1,
  .col-1-1-2 {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }
}
