body {
  font-family: "Lora", serif;
  background-color: #6a7687;
  margin: 0;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../img/cph-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 200px 0;
}

header h1,
header h2,
header h3 {
  margin: 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

header a {
  display: inline-block;
  margin-top: 32px;
  padding: 16px 32px;
  background: #ffffff;
  color: #272044;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
